**This jupyter notebook file contains different data manipulation techniques used to convert the open dataset(taken from https://ourworldindata.org/mental-health) into a required form inorder to create an interactive data visualisation that displays information about prevalence of different mental health issues here in Australia over years**

***Author : Sai Teja Pothnak***

In [1]:
%pwd #checking the directory

'C:\\Users\\saite\\Desktop\\Project Datasets'

## Importing the packages

In [2]:
import pandas as pd #importing pandas for data manipulation
import math # import math

## Data Manipulation

In [3]:
eat=pd.read_csv('eating_disorder.csv') #reading the file

eat=eat[eat.Entity=='Australia'] #filtering for only australian data

eat=eat.reset_index(inplace=False) #reseting index

eat=eat.drop(['index'], axis=1) #dropping an unwanted column

# eat.to_csv('Eating_Disorder.csv')

In [4]:
anx=pd.read_csv('anxiety_disorder.csv') #reading the anxiety related csv file

anx=anx[anx.Entity=='Australia'] #filtering for only australian data

anx=anx.reset_index(inplace=False) #resetting the index

anx=anx.drop(['index'], axis=1) #dropping an inwanted column

# anx.to_csv('anxios_Disorder.csv')

In [5]:
bip=pd.read_csv('bipolar_disorder.csv') #reading the bipolar related file

bip=bip[bip.Entity=='Australia'] #filtering for only Australian data

bip=bip.reset_index(inplace=False) #resetting the index

bip=bip.drop(['index'], axis=1) # dropping an unwanted column

# bip.to_csv('Bipolar.csv')

In [8]:
depression=pd.read_csv('depression.csv') #reading the bipolar file

depression=depression[depression.Entity=='Australia'] # filtering only australian data

depression=depression.reset_index(inplace=False) #resetting the index

depression=depression.drop(['index'], axis=1) #dropping the unwanted column

# depression.to_csv('Depress.csv')

## Concatenating the Data Frames

In [11]:
frames = [eat, anx, depression,bip]

In [12]:
final=pd.concat(frames,sort=True)

In [ ]:
final.head()

## Removing Null Values and making a single column with values corresponding to each mental issue.

In [15]:
#Storing the Colunms as a list
p1=list(final.iloc[:,3]) 
p2=list(final.iloc[:,4])
p3=list(final.iloc[:,5])
p4=list(final.iloc[:,6])

In [16]:
prev=[0]*len(p1) #initialising a new list to store all the values

In [17]:
#looping over the size of list
for i in range(len(p1)):
    if math.isnan(p1[i]): #if a value is nan
        pass  
    else: #if not
        prev[i]=p1[i] # store that value into the initialised list at same position
        
    if math.isnan(p2[i])  #if a value is nan
        pass  
    else:
        prev[i]=p2[i] # store that value into the initialised list at same position
        
    if math.isnan(p3[i]): #if a value is nan
        pass    
    else:
        prev[i]=p3[i] # store that value into the initialised list at same position
        
    if math.isnan(p4[i]): #if a value is nan
        pass     
    else:
        prev[i]=p4[i] # store that value into the initialised list at same position

## Dropping the unwanted columns

In [18]:
final2 = final.drop(final.columns[[3,4,5,6,7]], axis=1)

## Adding the new list as a column into the data frame

In [20]:
final2['Prevalence']=prev

## Final Dataset into Required form

In [21]:
final2.head()

   Code          Disorder     Entity  Year  Prevalence
0   AUS  Easting Disorder  Australia  1990    0.700091
1   AUS  Easting Disorder  Australia  1991    0.704109
2   AUS  Easting Disorder  Australia  1992    0.708001
3   AUS  Easting Disorder  Australia  1993    0.713708
4   AUS  Easting Disorder  Australia  1994    0.719508
..  ...               ...        ...   ...         ...
23  AUS               NaN  Australia  2013    1.147593
24  AUS               NaN  Australia  2014    1.146475
25  AUS               NaN  Australia  2015    1.145130
26  AUS               NaN  Australia  2016    1.143669
27  AUS               NaN  Australia  2017    1.142097

[112 rows x 5 columns]

## Saving the dataset into CSV

In [22]:
final2.to_csv('Final_Data.csv')

The above saved CSV file is later read into Tableau software for creating an interactive visualisation that displays about prevalence of different mental health issues here in Australia

***THE END***