**This jupyter notebook file contains different data manipulation techniques used to convert the open dataset(taken from https://www.aihw.gov.au/reports/mental-health-services/mental-health-services-in-australia/data#page2) into a required form inorder to create an interactive data visualisation that displays information about how many people have accessed mental health services region wise here in Australia**

***Author : Sai Teja Pothnak***

In [1]:
%pwd #checking the directory

'C:\\Users\\saite\\Desktop\\Project Datasets'

## Importing Data manipulation package

In [3]:
import pandas as pd #importing pandas

## Reading the csv file that contains latitude, longitude details of states in Australia

In [6]:
df1=pd.read_csv('latlon.csv')  #reading the file using pandas

In [7]:
df1 #checking the dataframe

   longitude  latitude                         State
0     151.20    -33.87               New South Wales
1     144.97    -37.82                      Victoria
2     153.02    -27.47                    Queensland
3     115.85    -31.95             Western Australia
4     138.60    -34.93               South Australia
5     147.32    -42.88                      Tasmania
6     149.13    -35.30  Australian Capital Territory
7     130.83    -12.45            Northern Territory

## Reading the cv file that contains data related to number of people who have accessed mental health services in 2017-2018

In [9]:
df2=pd.read_csv('Services.csv') #reading csv using pandas

In [10]:
df2.head() #displaying the dataframe

,Number/Rate,Service type,NSW(c),Vic(d)(e),Qld(e),WA,SA,Tas,ACT(f),NT(g),Total
0,Number of service users,Non-residential,"29,074","30,958","22,150","5,529","10,574","2,084",802,323,"100,477"
1,Number of service users,Residential,575,418,495,180,609,91,n.a.,7,"2,375"
2,Number of service users,Total(i),"29,157","31,098","22,256","5,531","10,620","2,094",802,325,"100,866"

## Taking the first two rows

In [21]:
#storing the region wise information into lists
non_residential=list(df2.iloc[0])[2:-1] #storing only required values
residential=list(df2.iloc[1])[2:-1]

## Adding these lists as columns into df1 dataframe

In [22]:
df1['Non Residential']=non_residential #non residential column
df1['Residential']=residential #residential column

In [23]:
df1 #final check of the dataframe

,longitude,latitude,State,Non Residential,Residential
0,151.20,-33.87,New South Wales,"29,074",575
1,144.97,-37.82,Victoria,"30,958",418
2,153.02,-27.47,Queensland,"22,150",495
3,115.85,-31.95,Western Australia,"5,529",180
4,138.60,-34.93,South Australia,"10,574",609
5,147.32,-42.88,Tasmania,"2,084",91
6,149.13,-35.30,Australian Capital Territory,802,n.a.
7,130.83,-12.45,Northern Territory,323,7

## Saving the CSV file

In [ ]:
df1.to_csv('Australian_health.csv')

The above obtained dataframe is loaded into tableau software to create an interactive visualisation. An Australian Map is created which shows information related to mental health services accessed by people region wise in Australia.

***THE END***